<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="nav-sitename"></div>
      
      <ul>
        <li>
          
                <a href="/">Home </a>
        
        </li>
        <li>
          
                <a href="/about">About </a>


        </li>
        <li>
                <a href="/contact">Contact </a>


        </li>
      </ul>
    

      <div class="nav-avatar">
        <div class="avatar-name"></div>
       
         <%= link_to image_tag("pandalogo.png", alt: "logo", :class => "avatar-pic")%>

              </div>


        <div class="test">
               <%= link_to image_tag("pandavatar.png", alt: "logo", :class => "pandavatar")%>
        
              </div>


              

       



    </nav>
  </div>
</header>